.screen-name-span {
  margin-left: 8px;
  font-style: italic;
  font-size: 13px;
  color: #001529;
}

.tweet-meta-col {
  margin-top: 6px;
  & > p {
    color: #001529;
    & > span {
      font-weight: bold;
    }
  }
}

.tweet-content-section {
  padding: 0px;
  cursor: pointer;
  width: -webkit-fill-available;
}

.tweets {
  color: #001529;
  font-size: 14px;
  margin: 0px;
  margin-bottom: 14px;
}

.tweet-footer-div {
  display: flex;
  & > .tweet-datatime {
    color: #0015297a;
    margin-right: auto;
  }
  & > .retweet-count {
    margin: 0px;
    > span {
      font-weight: bold;
    }
  }
}

.tweets-div {
  margin-top: 14px;
}

.tweet-posted-user {
  display: flex;
  margin-bottom: 16px;
  & > .tweet-posted-by-avatar {
    margin-right: 12px;
  }
}

.tweet-user-meta {
  & > .usermame {
    font-size: 18px;
    margin-right: 16px;
  }
  & > .screen-name {
    font-weight: bold;
    font-style: italic;
  }
}

.no-padding {
  padding: unset;
}

.no-margin {
  margin: unset;
}
