.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.header-title {
  color: #f3f2f2;
}

.component-header {
  font-size: 26px;
}
